In [47]:
! git clone https://github.com/miraeyu332/DVC.git

Cloning into 'DVC'...
warning: You appear to have cloned an empty repository.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rae10\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rae10\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rae10\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rae10\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rae10\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rae10\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rae10\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\rae10\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
import os
print(os.getcwd())

C:\Users\rae10\Desktop\Data Visualisation & Communication

In [41]:
file_path = "C:/Users/rae10/Desktop/Data Visualisation & Communication/all_data.xlsx"

In [43]:
data_df = pd.read_excel(C:/Users/rae10/Desktop/Data Visualisation & Communication/all_data.xlsx)
print(data_df.head())

SyntaxError: invalid syntax (747124137.py, line 1)

           AREA                                         AREA_TITLE  AREA_TYPE  \
0            99                                               U.S.          1
1            99                                               U.S.          1
2            99                                               U.S.          1
3            99                                               U.S.          1
4            99                                               U.S.          1
...         ...                                                ...        ...
413322  4800006  Coastal Plains Region of Texas nonmetropolitan...          6
413323  5500001        Northwestern Wisconsin nonmetropolitan area          6
413324  5500002        Northeastern Wisconsin nonmetropolitan area          6
413325  5500003       South Central Wisconsin nonmetropolitan area          6
413326  5500004             Western Wisconsin nonmetropolitan area          6

       PRIM_STATE   NAICS     NAICS_TITLE         I_GROUP  OWN_CODE OCC_CODE  \
0              US  000000  Cross-industry  cross-industry      1235  00-0000
1              US  000000  Cross-industry  cross-industry      1235  11-0000
2              US  000000  Cross-industry  cross-industry      1235  11-1000
3              US  000000  Cross-industry  cross-industry      1235  11-1010
4              US  000000  Cross-industry  cross-industry      1235  11-1011
...           ...     ...             ...             ...       ...      ...
413322         TX  000000  Cross-industry  cross-industry      1235  53-7199
413323         WI  000000  Cross-industry  cross-industry      1235  53-7199
413324         WI  000000  Cross-industry  cross-industry      1235  53-7199
413325         WI  000000  Cross-industry  cross-industry      1235  53-7199
413326         WI  000000  Cross-industry  cross-industry      1235  53-7199

                                 OCC_TITLE  ... H_MEDIAN H_PCT75 H_PCT90  \
0                          All Occupations  ...    23.11   37.01    58.4
1                   Management Occupations  ...    56.19   81.29  111.36
2                           Top Executives  ...    49.74   79.57       #
3                         Chief Executives  ...    99.37       #       #
4                         Chief Executives  ...    99.37       #       #
...                                    ...  ...      ...     ...     ...
413322  Material Moving Workers, All Other  ...    17.45   18.74   20.54
413323  Material Moving Workers, All Other  ...    15.39   19.25      22
413324  Material Moving Workers, All Other  ...    14.11   18.29   26.99
413325  Material Moving Workers, All Other  ...    15.94   18.55   20.54
413326  Material Moving Workers, All Other  ...    16.42   26.99   29.69

       A_PCT10 A_PCT25 A_MEDIAN A_PCT75 A_PCT90 ANNUAL HOURLY
0        29050   35660    48060   76980  121470    NaN    NaN
1        54550   78330   116880  169090  231620    NaN    NaN
2        46400   66170   103460  165500       #    NaN    NaN
3        80000  130840   206680       #       #    NaN    NaN
4        80000  130840   206680       #       #    NaN    NaN
...        ...     ...      ...     ...     ...    ...    ...
413322   29680   30910    36290   38980   42720    NaN    NaN
413323   27770   30180    32020   40040   45760    NaN    NaN
413324   20290   25080    29350   38050   56130    NaN    NaN
413325   28380   32680    33150   38590   42730    NaN    NaN
413326   22130   28790    34160   56130   61740    NaN    NaN

[413327 rows x 32 columns]